/*
 * _variables.scss
  * sass file
 */

/* color palette */
$different-gold  : #b89d4c; // Sherwin-Williams 6396, Different Gold
$kind-green      : #a9c4b5; // Sherwin-Williams 6457, Kind Green
$tansy-green     : #93995d; // Sherwin-Williams 6424, Tansy Green
$friendly-yellow : #f3e4b1; // Sherwin-Williams 6680, Friendly Yellow
$memorable-rose  : #d38b8c; // Sherwin-Williams 6311, Memorable Rose
$van-dyke-brown  : #554836; // Sherwin-Williams 7041, Van Dyke Brown
$charming-pink   : #eed4d3; // Sherwin-Williams 6309, Charming Pink
$juneberry       : #893d58; // Sherwin-Williams 6573, Juneberry

/* corporate color palette */
$primary-dark: #06888A;
$primary-light: #FFEED5;
$primary-mid: #DC664A;
$secondary-dark: #5A3928;
$secondary-light: #FDC149;