<div class="container">
  <h2>Проекты деревянных домов и бань</h2>

  <div class="row">

  <!--                           -->
  <!-- Begin Filters placeholder -->
  <!--                           -->
  <div id="ep-mod-house-projects-filters-container" class="col-md-3">
    <form id="ep-mod-house-projects-filters" class="ep-mod-house-projects-filters">
      <fieldset id="ep-mod-house-projects-filter-area" class="ep-mod-house-projects-filter">
        <legend>Площадь</legend>
        <label>От:<input id="ep-mod-house-projects-filter-area-min" type="number"></label>
        <label>До:<input id="ep-mod-house-projects-filter-area-max" type="number"></label>
      </fieldset>
      <fieldset id="ep-mod-house-projects-filter-floors" class="ep-mod-house-projects-filter">
        <legend>Этажи</legend>
        <label>1 <input type="checkbox"></label>
        <label>2 <input type="checkbox"></label>
      </fieldset>
      <fieldset id="ep-mod-house-projects-filter-tech" class="ep-mod-house-projects-filter">
        <legend>Технология</legend>
        <label>
          <input id="ep-mod-house-projects-filter-tech-beam" type="checkbox">
          Брус профилированный
        </label>
        <label>
          <input id="ep-mod-house-projects-filter-tech-laften" type="checkbox">
          Лафет
        </label>
        <label>
          <input id="ep-mod-house-projects-filter-tech-frame" type="checkbox">
          Каркас
        </label>
      </fieldset>
      <fieldset id="ep-mod-house-projects-filter-status" class="ep-mod-house-projects-filter">
        <legend>Стадия</legend>
        <label><input type="checkbox">Реализован </label>
        <label><input type="checkbox">В процессе </label>
        <label><input type="checkbox">Проект </label>
      </fieldset>
      <input id="ep-mod-house-projects-filters-submit" type="submit" value="Показать">
      <input id="ep-mod-house-projects-filters-reset" type="reset" value="Сбросить">
    </form>
  </div>
  <!--                           -->
  <!-- End Filters placeholder   -->
  <!--                           -->

  <!--                                      -->
  <!-- Begin Project collection placeholder -->
  <!--                                      -->
  <div id="ep-mod-house-projects-collection-container" class="ep-mod-house-projects-collection col-md-9">
  </div>
  <!--                                      -->
  <!-- End Project collection placeholder   -->
  <!--                                      -->

  </div>

</div>