<!--               -->
<!-- Begin Filters -->
<!--               -->
  <form id="ep-mod-house-projects-filters" class="ep-mod-house-projects-filters col-md-3">
    <fieldset id="ep-mod-house-projects-filter-area" class="ep-mod-house-projects-filter">
      <legend>Площадь</legend>
      <label>От:<input id="ep-mod-house-projects-filter-area-min" type="number"></label>
      <label>До:<input id="ep-mod-house-projects-filter-area-max" type="number"></label>
    </fieldset>
    <fieldset id="ep-mod-house-projects-filter-floors" class="ep-mod-house-projects-filter">
      <legend>Этажи</legend>
      <label>1 <input type="checkbox"></label>
      <label>2 <input type="checkbox"></label>
    </fieldset>
    <fieldset id="ep-mod-house-projects-filter-tech" class="ep-mod-house-projects-filter">
      <legend>Технология</legend>
      <label>
        <input id="ep-mod-house-projects-filter-tech-beam" type="checkbox">
        Брус профилированный
      </label>
      <label>
        <input id="ep-mod-house-projects-filter-tech-laften" type="checkbox">
        Лафет
      </label>
      <label>
        <input id="ep-mod-house-projects-filter-tech-frame" type="checkbox">
        Каркас
      </label>
    </fieldset>
    <fieldset id="ep-mod-house-projects-filter-status" class="ep-mod-house-projects-filter">
      <legend>Стадия</legend>
      <label><input type="checkbox">Реализован </label>
      <label><input type="checkbox">В процессе </label>
      <label><input type="checkbox">Проект </label>
    </fieldset>
    <input class="ep-mod-house-projects-filters-submit" type="submit" value="Показать">
    <input class="ep-mod-house-projects-filters-reset" type="reset" value="Сбросить">
  </form>
<!--             -->
<!-- End Filters -->
<!--             -->

<!--                                     -->
<!-- Begin Projects Collection container -->
<!--                                     -->
<div id="ep-mod-house-projects-collection-container" class="ep-mod-house-projects-collection col-md-9">
  <!--            -->
  <!-- Begin Collection Sort -->
  <!--            -->
  <div id="ep-mod-house-projects-collection-sort" class="ep-mod-house-projects-collection-sort">
    <ul>
      <span>Сортировать</span>
      <li class="ep-mod-house-projects-collection-sort-active">
        <a href="#by-area" class="ep-mod-house-projects-collection-sort-asc">Площадь</a>
      </li>
      <li>
        <a href="#by-name" class="ep-mod-house-projects-collection-sort-asc">Наименование</a>
      </li>
    </ul>
  </div>
  <!--          -->
  <!-- End Collection Sort -->
  <!--          -->

  <!--                              -->
  <!-- Begin House projects Gallery -->
  <!--                              -->
  <div id="ep-mod-house-projects-collection-gallery" class="ep-mod-house-projects-collection-gallery row">
  </div>
  <!--                            -->
  <!-- End House projects Gallery -->
  <!--                            -->

  <!--                  -->
  <!-- Begin Collection Pagination -->
  <!--                  -->
  <div id="ep-mod-house-projects-collection-pagination" class="ep-mod-house-projects-collection-pagination row">

    <!-- Begin Pagination navigation -->
    <ul class="ep-mod-house-projects-collection-pagination-page col-md-12">
      <li class="ep-mod-house-projects-collection-pagination-page-active">
        <a href="#1">1</a>
      </li>
      <li>
        <a href="#2">2</a>
      </li>
      <li>
        <a href="#3">3</a>
      </li>
    </ul>
    <!-- End Pagination navigation -->

    <!-- Begin Number of projects per page select -->
    <ul class="ep-mod-house-projects-collection-pagination-size col-md-12">
      <span>Показывать</span>
      <li class="ep-mod-house-projects-collection-pagination-size-active">
        <a href="#pages-12">12</a>
      </li>
      <li>
        <a href="#pages-24">24</a>
      </li>
      <li>
        <a href="#pages-all">Все</a>
      </li>
    </ul>
    <!-- End Number of projects per page select -->

  </div>
  <!--                -->
  <!-- End Collection Pagination -->
  <!--                -->

</div>
