.ep-site-header {
  background-color: $kind-green;
  & .container {
  }
}

.ep-site-content {
  /*background-color : ;*/
}

.ep-site-footer {
  height : 6em;
  background-color: $van-dyke-brown;
}